/* Generales */
*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}
:root{
    --fuente-titulos: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    --color-1: #22577A;
    --color-2: #38A3A5;
    --color-3: #57CC99;
    --color-4: #80ED99;
    --shadow: rgba(0, 0, 0, 0.75);
}
.d_flex{
    display: flex;
}
.a_i_center{
    align-items: center;
}
.j_c_center{
    justify-content: center;
}
/* Main */
.main{
    background-color: var(--color-1);
    flex-direction: column;
    height: 100vh;
}
.container_general{
    width: 60%;
    height: 80%;
    justify-content: space-evenly;
}
.diseño_seccion{
    width: 40%;
    height: 80%;
    border-radius: 15px;
    padding: 10px;
    background-color: white;
    box-shadow: 4px 4px 10px 0px var(--shadow);
}
.f_titulos{
    font-family: var(--fuente-titulos) !important;
    font-size: 45px;
    padding: 25px 0px 0px 10px;
}
.descripciones{
    font-size: 21.5px;
    padding: 10px 10px 20px 10px;
}
.form_diseño{
    flex-direction: column;
}
.input_diseño{
    border-radius: 5px;
    height: 35px;
    margin: 5px 10px;
    padding-left: 10px;
    font-size: 15px;
    border-radius: 5px; 
    border: 2px solid var(--color-1);
}
.btn_diseño{
    font-weight: bold;
    background-color: var(--color-4);
}
.btn_diseño:hover{
    background-color: var(--color-3);
}